### PANDAS (Part 2)
Date: Oct 8, 2019

In [2]:
import numpy as np
import pandas as pd
from numpy.random import randn

np.random.randn()

array([[-1.1954491 , -1.42720333,  0.48574002, -0.27122272,  0.62562718],
       [-2.05896504,  1.21391942,  0.30804129, -1.14148306, -1.38020945]])

In [4]:
#create a random dataframe
#pd.DataFrame(data=None, index=None, columns=None, dtype=None, copy=False)
rows = 'A B C D E'.split()
cols = 'W X Y Z'.split()
df = pd.DataFrame(randn(5,4), rows, cols)
df

          W         X         Y         Z
A  0.619262  0.104426  1.943074  1.943735
B -2.040986 -0.423423  0.684918  0.221768
C  0.275241 -2.173986 -0.137280 -0.090483
D -0.483817 -1.034301 -0.465954  0.817650
E  0.367343  0.541452  0.285118  1.388438

#### Conditional Selection

In [7]:
df > 0

       W      X      Y      Z
A   True   True   True   True
B  False  False   True   True
C   True  False  False  False
D  False  False  False   True
E   True   True   True   True

In [8]:
#store the conditional selection into a variable
bol_result = df > 0

In [10]:
#pass the variable in the dataframe using bracket notation
df[bol_result]

          W         X         Y         Z
A  0.619262  0.104426  1.943074  1.943735
B       NaN       NaN  0.684918  0.221768
C  0.275241       NaN       NaN       NaN
D       NaN       NaN       NaN  0.817650
E  0.367343  0.541452  0.285118  1.388438

In [11]:
#get a specific column by bracket notation
df['X']

A    0.104426
B   -0.423423
C   -2.173986
D   -1.034301
E    0.541452
Name: X, dtype: float64

In [12]:
#using conditional operator in the reslting series
df['X'] > 0

A     True
B    False
C    False
D    False
E     True
Name: X, dtype: bool

In [13]:
#passing the above conditional column operation to the dataframe
#resulting dataframe will give the rows that are 'True' in this case only A and E
df[df['X'] > 0]

          W         X         Y         Z
A  0.619262  0.104426  1.943074  1.943735
E  0.367343  0.541452  0.285118  1.388438

### Using logical operation to in a dataframe

In [14]:
df

          W         X         Y         Z
A  0.619262  0.104426  1.943074  1.943735
B -2.040986 -0.423423  0.684918  0.221768
C  0.275241 -2.173986 -0.137280 -0.090483
D -0.483817 -1.034301 -0.465954  0.817650
E  0.367343  0.541452  0.285118  1.388438

In [15]:
df['W'] > 0

A     True
B    False
C     True
D    False
E     True
Name: W, dtype: bool

In [17]:
df['Y'] < 1

A    False
B     True
C     True
D     True
E     True
Name: Y, dtype: bool

In [19]:
#use & instead of 'AND' and | for 'OR' logical operation
df[(df['W'] > 0) & (df['Y'] < 1)]

          W         X         Y         Z
C  0.275241 -2.173986 -0.137280 -0.090483
E  0.367343  0.541452  0.285118  1.388438

In [23]:
#since the result of the above operation is a dataframe
#we can use bracket notation to select a specific column/s in one line
df[(df['W'] > 0) & (df['Y'] < 1)][['W', 'Y']]

          W         Y
C  0.275241 -0.137280
E  0.367343  0.285118

# Ecommerce Purchases Exercise

In this Exercise you will be given some Fake Data about some purchases done through Amazon! Just go ahead and follow the directions and try your best to answer the questions and complete the tasks. Feel free to reference the solutions. Most of the tasks can be solved in different ways. For the most part, the questions get progressively harder.

Please excuse anything that doesn't make "Real-World" sense in the dataframe, all the data is fake and made-up.

Also note that all of these questions can be answered with one line of code.
____
** Import pandas and read in the Ecommerce Purchases csv file and set it to a DataFrame called ecom. **

**Check the head of the DataFrame.**
The head function will show samples of the dataframe

In [28]:
df = pd.read_csv('Ecommerce Purchases')
df.head()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82

** How many rows and columns are there? ** <br>

We can use the **df.info()** to get the details of the dataframe including the total columns in the dataframe
We can also use the df.columns to get the list of the columns in the dataframe. After which, we can use the **len()** function to get the total columns

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
Address             10000 non-null object
Lot                 10000 non-null object
AM or PM            10000 non-null object
Browser Info        10000 non-null object
Company             10000 non-null object
Credit Card         10000 non-null int64
CC Exp Date         10000 non-null object
CC Security Code    10000 non-null int64
CC Provider         10000 non-null object
Email               10000 non-null object
Job                 10000 non-null object
IP Address          10000 non-null object
Language            10000 non-null object
Purchase Price      10000 non-null float64
dtypes: float64(1), int64(2), object(11)
memory usage: 1.1+ MB

In [33]:
df.columns

Index(['Address', 'Lot', 'AM or PM', 'Browser Info', 'Company', 'Credit Card',
       'CC Exp Date', 'CC Security Code', 'CC Provider', 'Email', 'Job',
       'IP Address', 'Language', 'Purchase Price'],
      dtype='object')

In [34]:
len(df.columns)

14

** What is the average Purchase Price? ** <br>

Use **df.descibe()** to get the statistical data of the dataframe.
Other option is to get the **mean()** of **Purchase Price** column

In [35]:
df.describe()

        Credit Card  CC Security Code  Purchase Price
count  1.000000e+04      10000.000000    10000.000000
mean   2.341374e+15        907.217800       50.347302
std    2.256103e+15       1589.693035       29.015836
min    6.040186e+10          0.000000        0.000000
25%    3.056322e+13        280.000000       25.150000
50%    8.699942e+14        548.000000       50.505000
75%    4.492298e+15        816.000000       75.770000
max    6.012000e+15       9993.000000       99.990000

In [38]:
#alternative solution
df['Purchase Price'].mean()

50.34730200000025

** What were the highest and lowest purchase prices? ** <br>
Use **max()** and **min()** to get the highest and lowest purchase price

In [39]:
#get the highest price
df['Purchase Price'].max()

99.99

In [40]:
#get the lowest price
df['Purchase Price'].min()

0.0

** How many people have English 'en' as their Language of choice on the website? ** <br>
Use **count()** function to get count

In [47]:
df[df['Language'] == 'en'].count()

Address             1098
Lot                 1098
AM or PM            1098
Browser Info        1098
Company             1098
Credit Card         1098
CC Exp Date         1098
CC Security Code    1098
CC Provider         1098
Email               1098
Job                 1098
IP Address          1098
Language            1098
Purchase Price      1098
dtype: int64

** How many people have the job title of "Lawyer" ? **

In [48]:
df[df['Job'] == 'Lawyer'].count()

Address             30
Lot                 30
AM or PM            30
Browser Info        30
Company             30
Credit Card         30
CC Exp Date         30
CC Security Code    30
CC Provider         30
Email               30
Job                 30
IP Address          30
Language            30
Purchase Price      30
dtype: int64

** How many people made the purchase during the AM and how many people made the purchase during PM ? **

In [49]:
#get AM count
df[df['AM or PM'] == 'AM'].count()

Address             4932
Lot                 4932
AM or PM            4932
Browser Info        4932
Company             4932
Credit Card         4932
CC Exp Date         4932
CC Security Code    4932
CC Provider         4932
Email               4932
Job                 4932
IP Address          4932
Language            4932
Purchase Price      4932
dtype: int64

In [50]:
#get AM count
df[df['AM or PM'] == 'PM'].count()

Address             5068
Lot                 5068
AM or PM            5068
Browser Info        5068
Company             5068
Credit Card         5068
CC Exp Date         5068
CC Security Code    5068
CC Provider         5068
Email               5068
Job                 5068
IP Address          5068
Language            5068
Purchase Price      5068
dtype: int64

In [55]:
#alternative
df['AM or PM'].value_counts()

PM    5068
AM    4932
Name: AM or PM, dtype: int64

** What are the 5 most common Job Titles? ** <br>
Use **value_counts()** to get the counts per Job titles and then use the **nlargest()** function passing an n value. In this case its 5 since we wanted to get the 5 most common

In [53]:
df['Job'].value_counts().nlargest(5)

Interior and spatial designer    31
Lawyer                           30
Social researcher                28
Purchasing manager               27
Designer, jewellery              27
Name: Job, dtype: int64

** Someone made a purchase that came from Lot: "90 WT" , what was the Purchase Price for this transaction? **

In [56]:
df[df['Lot'] == '90 WT']['Purchase Price']

513    75.1
Name: Purchase Price, dtype: float64

** What is the email of the person with the following Credit Card Number: 4926535242672853 **

In [63]:
df[df['Credit Card'] == 4926535242672853]['Email']

1234    bondellen@williams-garza.com
Name: Email, dtype: object

** How many people have American Express as their Credit Card Provider *and* made a purchase above $95 ?**

In [66]:
df[(df['CC Provider'] == 'American Express') & (df['Purchase Price'] > 95)].count()

Address             39
Lot                 39
AM or PM            39
Browser Info        39
Company             39
Credit Card         39
CC Exp Date         39
CC Security Code    39
CC Provider         39
Email               39
Job                 39
IP Address          39
Language            39
Purchase Price      39
dtype: int64

** Hard: How many people have a credit card that expires in 2025? ** <br>
The expiry date is in the format mm/yy which is a string. We just need to get the substring from index 4 to 5.
Instead of creating a function we will use the lambda function to extract the substring using the slice notation

In [74]:
sum(df['CC Exp Date'].apply(lambda exp: exp[3:] == '25'))

1033

** Hard: What are the top 5 most popular email providers/hosts (e.g. gmail.com, yahoo.com, etc...) **

In [80]:
df['Email'].apply(lambda mail: mail.split('@')[1]).value_counts().nlargest(5)

hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: Email, dtype: int64